<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h1 style="text-align: center;">Action réalisée avec succès</h1>
    <p style="text-align: center;">Votre réponse à l'invitation a été enregistrée !</p>
    <div style="text-align: center;">
        <a href="/events/" class="btn btn-primary">Retourner à la liste des événements</a>
    </div>
</body>
</html>