{% extends 'main/event_detail_base.html' %}
{% load i18n %}

{% block title %}| Event {{ event.id }}{% endblock %}

{% block messages_active %}active{% endblock %}

{% block page_title %}Event Detail{% endblock %}

{% block page_content %}
<section>
    <div id="errorMessages"></div>
    <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>

    <div class="container-fluid pt-30">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'events' %}">{% trans "Evenements" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'event-detail' event.id %}">{{ event.nom }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "Messages" %}</li>
            </ol>
        </nav>

        <div class="tables-wrapper mt-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div
                            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                            <div>
                                <h3 class="mb-10">Messages</h3>
                            </div>
                            <div class="title d-flex flex-wrap justify-content-end">
                                <button type="button" class="main-btn primary-btn btn-hover btn-sm"
                                    data-bs-toggle="modal" data-bs-target="#eventModal">
                                    <i class="lni lni-plus mr-5"></i> Envoyer un message
                                </button>
                            </div>
                        </div>
                        <div class="table-wrapper table-responsive">
                            <table class="table" id="participants-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="select-all" class="form-check-input">
                                        </th>
                                        <th class="lead-info">
                                            <h6>{% trans "Sujet" %}</h6>
                                        </th>
                                        <!-- <th class="lead-email">
                                            <h6>{% trans "Date cree" %}</h6>
                                        </th> -->
                                        <th class="lead-phone">
                                            <h6>{% trans "Nombre de dest." %}</h6>
                                        </th>
                                        <th>
                                            <h6>{% trans "Nombre recu" %}</h6>
                                        </th>

                                        <th>
                                            <h6>{% trans "Actions" %}</h6>
                                        </th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                    {% for message in event.notifications.all %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="form-check-input">
                                        </td>

                                        <td>
                                            {{ message.subject }}
                                        </td>

                                        <td>
                                            {{ message.nombre_destinataires }}
                                        </td>

                                        <td>
                                            {{ message.nombre_recu }}
                                        </td>

                                        <td>
                                            <div class="action">
                                                <button class="text-primary edit-button edit-message" data-id="{{ participant.id }}"
                                                    data-bs-toggle="modal" data-bs-target="#editMessageModal" data-message-id="{{ message.id }}"
                                                    data-message-content="{{ message.message }}" data-message-subject="{{ message.subject }}"
                                                    >
                                                    <i class="lni lni-pencil"></i>
                                                </button>
                                                <button class="text-danger delete-button" data-id="{{ participant.id }}"
                                                    data-nom="{{ evenement.nom }}" data-bs-toggle="modal"
                                                    data-bs-target="#deleteEventModal">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>

                                                {% if message.nombre_destinataires > message.nombre_recu %}
                                                <button class="text-primary edit-button resend-message"
                                                    data-message-id="{{ message.id }}" title="Renvoyer le message">
                                                    <i class="lni lni-reload"></i>
                                                </button>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
        </div>
        <!-- Invoice Wrapper End -->
    </div>
    <!-- end container -->
</section>

<!-- Modal pour la création d'événement -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">{{ _('Ajouter des participants') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="newMessageForm">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="new-message-subject" class="form-label">Sujet du message</label>
                        <input type="text" class="form-control" name="subject" id="new-message-subject" value="Testing email...">
                    </div>
                    <div class="col-md-12">
                        <label for="new-message-content" class="form-label">Contenu</label>
                        <div class="form-check" id="">
                            <textarea name="" class="form-control" id="new-message-content" cols="30" rows="10">
                                Test text
                            </textarea>
                        </div>
                    </div>

                    <hr>

                    <table class="table" id="pick-participants-table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="form-control form-check-input select-all">
                                </th>
                                <th class="lead-info">
                                    <h6>{% trans "Nom" %}</h6>
                                </th>
                                <th class="lead-email">
                                    <h6>{% trans "Adresse mail" %}</h6>
                                </th>
                            </tr>
                            <!-- end table row-->
                        </thead>
                        <tbody>
                            {% for participant in event.participant_set.all %}
                            <tr>
                                <td class="min-width">
                                    <input type="checkbox" class="select-one form-check-input form-control" value="{{ participant.id }}">
                                </td>
                                <td class="min-width">
                                    <div class="lead">
                                        <div class="lead-text">
                                            {{ participant.name }}
                                        </div>
                                    </div>
                                </td>
                                <td class="min-width">
                                    <p>{{ participant.email }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Annuler') }}</button>
                        <button type="submit" class="btn btn-primary">{{ _('Créer') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editMessageModal" tabindex="-1" aria-labelledby="editMessageLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMessageLabel">{{ _('Modifier le message') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="editMessageForm">
                    {% csrf_token %}
                    <input type="hidden" id="message-id">
                    <div class="col-md-12">
                        <label for="message-subject" class="form-label">Sujet du message</label>
                        <input type="text" class="form-control" name="subject" id="message-subject">
                    </div>
                    <div class="col-md-12">
                        <label for="message-content" class="form-label">Contenu</label>
                        <div class="form-check" id="">
                            <textarea name="" class="form-control" id="message-content" cols="30" rows="10">
                            </textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Annuler') }}</button>
                        <button type="submit" class="btn btn-primary">{{ _('Modifier') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal pour la confirmation de suppression d'événement -->
<div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteEventModalLabel">{{ _('Confirmer la suppression') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="deleteModalBody">
                {{ _('Êtes-vous sûr de vouloir supprimer ce participant ?') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Annuler') }}</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">{{ _('Supprimer') }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="participantModal" tabindex="-1" aria-labelledby="participantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter des Participants</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="participantForm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody id="participantTable">
                            <!-- Rows will be dynamically added here -->
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success" id="addRow">Ajoute une ligne</button>
                </form>

                <!-- <hr>
                <form id="uploadForm" enctype="multipart/form-data">
                    <label for="csvFile">Upload Excel File:</label>
                    <input type="file" id="csvFile" name="file" class="form-control">
                </form> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Annuler" %}</button>
                <button type="button" class="btn btn-primary" id="submitParticipants">{% trans "Soumettre" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".edit-message").forEach(button => {
        button.addEventListener("click", function () {
            console.log("Clicked modify message button")
            let messageId = this.getAttribute("data-message-id");
            let messageSubject = this.getAttribute("data-message-subject");
            let messageContent = this.getAttribute("data-message-content");

            document.getElementById("message-id").value = messageId
            document.getElementById("message-subject").value = messageSubject
            document.getElementById("message-content").value = messageContent

            // document.getElementById("deleteModalBody").innerText = `{{ _('Êtes-vous sûr de vouloir supprimer ') }} "${messageName}" {{ _(' ?')}}`;
        });
    });

    document.querySelectorAll(".resend-message").forEach(button => {
        button.addEventListener("click", function () {
            console.log("Clicked resend message button")
            let messageId = this.getAttribute("data-message-id");

            displayLoader("En train de renvoyer le message")

            fetch(`/messages/${messageId}/resend`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            })
            .then(response => response.json())
            .then(data => {
                hideLoader()
                displayMessage("Message cree avec succes. La page sera rafraichie");
                setTimeout(() =>location.reload(), 2000 );
            })
            .catch(() => {
                hideLoader()
                displayMessage("Erreur dans la creation du message", "error");
            })
        });
    });
</script>

<script>
    document.getElementById("newMessageForm").addEventListener('submit', (e) => {
        e.preventDefault()

        let messageSubject = document.getElementById("new-message-subject").value;
        let messageContent = document.getElementById("new-message-content").value;

        let participantIds = document.querySelectorAll('#pick-participants-table input[type="checkbox"]:checked')
        participantIds = Array.from(participantIds).map(input => parseInt(input.value))

        let data = {
            "subject": messageSubject,
            "content": messageContent,
            "participants": participantIds
        }

        displayLoader("En train d'envoyer les messages")

        fetch(`{% url 'event-messages' event.id %}`, {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            }
        })
        .then(response => response.json())
        .then(data => {
            displayMessage("Message cree avec succes")
            setTimeout(() =>location.reload(), 5000 ) 
        })
        .catch(() => {
            displayMessage("Erreur dans la creation du message");
        })
        .finally(() => {
            hideLoader()
        })
    })

    document.getElementById("editMessageForm").addEventListener('submit', (e) => {
        e.preventDefault()

        let messageSubject = document.getElementById("message-subject").value;
        let messageContent = document.getElementById("message-content").value;
        let messageId = document.getElementById("message-id").value;

        let data = {
            "subject": messageSubject,
            "content": messageContent
        }

        console.log("Submitting data: ", data)

        displayLoader("En train d'envoyer le nouveau message")

        fetch(`/messages/${messageId}/modify`, {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            }
        })
        .then(response => response.json())
        .then(data => {
            hideLoader()
            displayMessage("Message cree avec succes. La page sera rafraichie");
            setTimeout(() =>location.reload(), 2000 );
        })
        .catch(() => {
            displayMessage("Erreur dans la creation du message");
        })
    })

</script>
{% endblock %}